#[submodule "extensions/godot-cpp"]
#	path = extensions/godot-cpp
#	branch = 4.3
#	url = https://github.com/godotengine/godot-cpp
#[submodule "default_assets"]
#	path = default_assets
#	url = https://github.com/OpenChamp/default_assets
[submodule "extensions/godot-cpp"]
	path = extensions/godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.3
[submodule "default_assets"]
	path = default_assets
	url = https://github.com/OpenChamp/default_assets
