# Godot 4+ specific ignores
.godot/*
!.godot/uid_cache.bin
!.godot/extension_list.cfg

android/
*.tmp
*.import
*.exe
*.pck
*.zip
lang/*.translation
.vscode/
.idea
.cache

# exports
build/
docs/

# game install dir
godot/

# extensions stuff
bin/*.so
bin/*.dll
bin/*.dll.a
bin/*.dylib
bin/*.framework

extensions/build*
extensions/cross_compile_stuff/*

# Mac
.DS_Store

# aseprite stuff
utility_scripts/aseprite
utility_scripts/skia

#linux specific ignores
venv
